<!--@subject {{trans "Your payment reminder for your %store_name order" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var order_data.customer_name":"Customer Name",
"var order":"Order"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$order_data.customer_name}}</p>
<p>{{trans "Here is the reminder of your pending payment for Order #%order_id" order_id=$order.increment_id}}</p>
<p>{{trans "If you did not make this order, you can ignore this email."}}</p>

{{template config_path="design/email/footer_template"}}
